.about__container {
    padding: 5% 9.4%;
}

.about__title {
    text-align: center;
}

.about__line {
    margin: 0 auto;
    width: 36.3%;
    padding: 1.3% 0;
    margin-bottom: 6%;
}

.about__paragraph {
    padding-bottom: 25%;
    font-size: 20px;
}

@media screen and (min-width: 744px) {
    .about__title {
        font-size: 48px;
    }

    .about__line {
        width: 38%;
    }

    .about__paragraph {
        font-size: 28px;
    }
}

@media screen and (min-width: 1028px) {
    .about__title {
        text-align: left;
    }

    .about__paragraph {
        text-align: left;
    }
}