.skills{
    background-color: #F6F6F8;
}
.skills__container{
    padding-left: 1rem;
}
.skills__title{
    font-size: 28px;
}
.skills__line{
    padding-left: 1rem;
    padding: 1.7% 0;
    width: 52%;
    margin-bottom: 6%;
}
.hard__title{
    text-align: center;
    padding-bottom: 6%;
}
.hard__list{
    font-size: 23px;
}
.hard__item{
    padding-bottom: 6%;
}
.soft__title{
    text-align: center;
    padding-bottom: 6%;
}
.soft__list{
    font-size: 23px;
}
.soft__item{
    padding-bottom: 6%;
}
@media screen and (min-width: 744px){
    .skills__title{
        font-size: 48px;
    }
    .skills__line{
        width: 40%;
    }
    .hard__title{
        font-size: 48px;
    }
    .hard__list{
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .soft__title{
        font-size: 48px;
    }
    .soft__list{
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width: 1028px){
    /* .hard__list{
        padding-right: 35%;
        padding-left: 35%;
    }
    .soft__list{
        padding-right: 35%;
        padding-left: 35%;
    } */
    .hard__soft{
        display: flex;
        width: 100%;
    }
    .skills__hard{
        width: 50%;
    }
    .skills__soft{
        width: 50%;
    }
}