.works__container {
    padding-left: 4%;
    padding-right: 4%;

}

.works__title {
    text-align: center;
}

.works__line {
    margin: 0 auto;
    width: 45%;
    padding: 1.3% 0;
    margin-bottom: 6%;
}

.site__img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.second__img {
    padding: 2% 0;
}

.works__site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first__desc,
.second__desc,
.third__desc {
    display: none;
}
#first__check, #second__check, #third__check{
    display: none;
}
#first__check:checked ~ .first__label ~ .first__desc{
    display: block;
}

#second__check:checked ~ .second__label ~ .second__desc{
    display: block;
}
#third__check:checked ~ .third__label ~ .third__desc{
    display: block;
}
.icons{ 
    display: flex;
        width: 30%;
        justify-content: space-between;
}
@media screen and (min-width: 744px) {
    .works__title {
        font-size: 48px;
    }

    .works__site {
        width: 100%;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
    }

    .site__img {
        width: 95%;
    }

    .first__desc,
    .second__desc,
    .third__desc {
        display: block;
    }

    .second__img {
        padding: 0;
    }

    .first__title,
    .second__title,
    .third__title {
        font-size: 24px;
        padding-bottom: 7%;
    }

    .first__paragraph,
    .second__paragraph,
    .third__paragraph {
        font-size: 18px;
    }
    .second__paragraph{
        padding-left: 2%;
        padding-right: 2%;
    }

    .icons {
        display: flex;
        width: 35%;
        justify-content: space-between;
        padding-top: 12%;
    }
}
@media screen and (min-width: 1028px){
    .works__container {
        padding-right: 0.5%;
        padding-left: 0.5%;
    }
    .icons{
        width: 15%;
        padding-top:  1.5%;
        padding-left: 5%;
    }
    .works__site{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .site{
        width: 100%;
    }
    .site__img{
        width: 100%;
    }
    .img__container{
        width: 100%;
    }
    .first__title,
    .second__title,
    .third__title{
        padding-left: 5%;
        padding-bottom: 0;
    }
    .first__paragraph, .second__paragraph, .third__paragraph{
        padding-left: 5%;
    }
    .site__first, .site__third{
        display: flex;
        align-items: center;
    }
    .site__first{
        padding-bottom: 3%;
    }
    .third__img{
        width: 100%;
    }
    .site__third{
        padding-top: 3%;
    }
    .site__second{
        display: flex;
        align-items:  center;
        flex-direction: row-reverse;
    }
}